<style>
  <!-- .form-group{ -->
  <!-- font-size: 200%; -->
  <!-- color: rgb(200,0,0); -->
  <!-- } -->
</style>

<div class="row">
  
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:session, url: login_path) do |f| %>
    
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control"%>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control"%>
    
    <%= f.submit "Login", class: "btn btn-primary"%>
    
    <!-- <div class="form-group"> -->
    <!--   <label for="user[username]">User Name</label> -->
    <!--   <%= f.text_field :username, class: "form-control"%> -->
    <!-- </div> -->
    
    <!-- <div class="form-group"> -->
    <!--   <label for="user[password]">Password</label> -->
    <!--   <%= f.text_field :password, class: "form-control"%> -->
    <!-- </div> -->
    <!-- <input type="submit" name="commit" class="btn btn-default" value="Login" /> -->
    <% end %>

  </div>

</div>
