<div class = "wel-come">
<h1>Profile of User: <%= @user.username %></h1>
<div>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'update'}) do |f| %>
  <p> Debit:</br> <%= f.number_field :debit, :value => @user.debit %> </p>
  <p> Credit:</br> <%= f.number_field :credit, :value => @user.credit %> </p>
  <%= f.submit :OK %>
  <% end %>
</div>
</div>

<style>
	.wel-come{
		background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrC3aWdLlOxO6Y3VKXO0g_iJK7Q_NkzTU9l3TikD_UIm65iv1wGA");
		text-align: center;
	}
	.button_showh{
		color: #000000;
	}
</style>