<div class = "foreground">
  <img src="/assets/hehe1_meitu_1.jpg" style="width:800px">
    <div class="foreground_content">
      <% @page_title = "UserAuth | Signup" %> 
        <div class="Sign_Form" style="border-bottom: 20px solid white">
        <h1>Sign Up</h1>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <p> Username:</br> <%= f.text_field :username%> </p>
      <p> Email:</br> <%= f.text_field :email%> </p>
      <p> Password:</br> <%= f.password_field :password%></p>
      <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
      <%= f.submit :Signup %>
      <%= f.submit :Login %>
    <% end %>

   <% if @user.errors.any? %>
      <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>




<style>

  .kk{
    margin-top: 15px;
  }
  .mm{
    margin-top: 15px;
    text-align: center;
    color: #00CC66;
  }
  .Sign_Form{
    text-align: center;
    font-size: 15px;
    height: 20%;
  }

body {
    background-color: white;
 /* background-image: url('blue_background.png');*/
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.hehe_image{
  width:650px;
}

.logo_image{
  width: 120px;
  height: 90px;
  margin-left: 40px;
  margin-top: 20px;
}

.header{
    margin: 0 auto;
    background: white;
}
.headerholder{
    margin: 0 auto;
    width: 800px;
}
.bar{
  
  margin: 0 auto;
  width: 800px;
}
.intro{
    margin: 0 auto;
    width: 650px;
}

.bottem{
    padding-top: 0px;
}

.hehe{
    margin: 0 auto 20% auto;
    width: 800px;
    background: white;
}
/*
.banner {
background-color: #f9f7f4;
border: 1px solid #d1c9c0;
padding-top: 75px;
position: relative;
}*/
.div{
  display: block;
}

.banner img {
position: absolute;
right: 60px;
top: 72px;
}

img {
border: 0;
}

.nav a{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
}
.nav li{
  display: inline;
}


.articles{
    margin: 0 auto;
   
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
}
</style>