<h1>Welcome Back </h1>
<h2><%= @user.username %></h2>
<style>
  h1{
    text-decoration: underline;
    color: rgb(200,0,0);
  }
  .table{
    text-align: justify;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: rgb(200,0,0);
  }
  .form-inline{
    text-align: center;
    font-size: 150%;
  }
</style>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Type</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @user.bank_accounts.each do |bank_account| %>
    <tr>
      <td><%= bank_account.label %></td>
      <td><%= bank_account.account_type%></td>
      <td><%= bank_account.balance %></td>
      <td>
	<button class="delete-account-btn" data-username="<%= @user.username %>" data-url="/users/<%=@user.username%>/accounts/<%= bank_account.label%>">Delete</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<form role="form" class="form-inline" action="/users/<%=@user.username%>/accounts" method="post">
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create_bank_account'}) do |f| %>
  
  <div class="form-group">
    <label for="account[label]">Label:</label>
    <input type="text" name="account[label]"/>
  </div>
  
  <div class="form-group">
    <label for="account[account_type]">Type:</label>
    <select name="account[account_type]">
      <option value="checking">checking</option>
      <option value="saving">saving</option>
      <option value="credit">credit</option>
    </select>
  </div>
  
  <div class="form-group">
    <input type="submit" name="commit" value="Create">
  </div>  
  <% end %>  
</form>

<%= javascript_include_tag "application" %>
