<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @operator.username %>
</p>

<p>
  <strong>Label:</strong>
  <%= @operator.label %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @operator.amount %>
</p>

<p>
  <strong>Transfer:</strong>
  <%= @operator.transfer %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
