<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @dispaly.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @dispaly.password %>
</p>

<p>
  <strong>Remember:</strong>
  <%= @dispaly.remember %>
</p>

<p>
  <strong>Date:</strong>
  <%= @dispaly.date %>
</p>

<%= link_to 'Edit', edit_dispaly_path(@dispaly) %> 
<%= link_to 'Back', dispalies_path %>
