<div class = "tansfer_center">
<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :from_account_id %><br>
  <%= f.select(:from_account_id, options_for_select(@bank_account_options)) %>
  </div>

  <div class="field">
    <%= f.label :to_account_id %><br>
    <%= f.text_field :to_account_id %>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, step: "any"%>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<style>
  .actions{
    margin-top: 10px;
    color: #000000;
  }
  field{
    margin-right: 20px;
  }
  .transfer_center{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrC3aWdLlOxO6Y3VKXO0g_iJK7Q_NkzTU9l3TikD_UIm65iv1wGA");
  }
</style>



