<p id="notice"><%= notice %></p>

<p>
  <strong>From account:</strong>
  <%= @transfer.From_Account %>
</p>

<p>
  <strong>To account:</strong>
  <%= @transfer.To_Account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.Amount %>
</p>

<p>
	<strong>Time:</strong>
	<%= Time.now.strftime("%d/%m/%Y %H:%M") %>
</p>

<%= link_to 'Back', transfers_path %>
